/* all */
body {
	padding: 0;
	margin: 0;

	font-family: 'Montserrat', sans-serif;
}
.f-montserrat {
	font-family: 'Montserrat', sans-serif;
}
.f-roboto {
	font-family: 'Roboto', sans-serif;
}
.clearBoth {
	clear: both;
}
h1,h2,h3,h4,h5,h6,a,p,label,form {
	padding: 0;
	margin: 0;
}
a:hover {
	text-decoration: none;
}
.center-1300px {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
}
.center-1723px {
	width: 100%;
	max-width: 1723px;
	margin: 0 auto;
}
.svgAlert {
	width: 100%;
	max-width: 15px;
	height: 15px;
}
.svgAlert .st0 {
	fill: #C1272D;
}
.svgAlert .st1 {
	fill: none;
	stroke: #C1272D;
	stroke-width: 2.34;
	stroke-miterlimit: 10;
}
.opact0 {
	opacity: 0;
}
/* End | all */



/* ===== */



/* content */
section {
	background: rgba(0,121,191,1);
	background: -moz-linear-gradient(-45deg, rgba(0,121,191,1) 0%, rgba(0,121,191,1) 25%, rgba(52,186,244,1) 25%, rgba(52,186,244,1) 92.5%, rgba(239,239,239,1) 92.5%, rgba(239,239,239,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,121,191,1)), color-stop(25%, rgba(0,121,191,1)), color-stop(25%, rgba(52,186,244,1)), color-stop(70.5%, rgba(52,186,244,1)), color-stop(70.5%, rgba(239,239,239,1)), color-stop(100%, rgba(239,239,239,1)));
	background: -webkit-linear-gradient(-45deg, rgba(0,121,191,1) 0%, rgba(0,121,191,1) 25%, rgba(52,186,244,1) 25%, rgba(52,186,244,1) 92.5%, rgba(239,239,239,1) 92.5%, rgba(239,239,239,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(0,121,191,1) 0%, rgba(0,121,191,1) 25%, rgba(52,186,244,1) 25%, rgba(52,186,244,1) 92.5%, rgba(239,239,239,1) 92.5%, rgba(239,239,239,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(0,121,191,1) 0%, rgba(0,121,191,1) 25%, rgba(52,186,244,1) 25%, rgba(52,186,244,1) 92.5%, rgba(239,239,239,1) 92.5%, rgba(239,239,239,1) 100%);
	background: linear-gradient(178deg, rgba(0,121,191,1) 0%, rgba(0,121,191,1) 25%, rgba(52,186,244,1) 25%, rgba(52,186,244,1) 92.5%, rgba(239,239,239,1) 92.5%, rgba(239,239,239,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0079bf', endColorstr='#ffffff', GradientType=1 );
	padding: 30px 0;
}
content header {
	margin-bottom: 30px;
}
content header p {
	padding: 0 15px;

	font-size: 18px;
	font-weight: 500;
	color: #fff;
}


content section main article {
	background: #fff;
    width: 100%;
    max-width: 498px;
    min-height: 676px;
    border-radius: 22px;
    padding: 36px 30px;
    margin: 0 auto 83px;
}
content section main article .bxOverflow {
	overflow-y: auto;
	overflow-x: hidden;
	height: 550px;
	margin-bottom: 20px;
}
content section main article h1 {
	padding: 0 15px 20px;

	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	color: #0078BF;
}
content section main article h2 {
	padding: 40px 0 20px;

	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #0078BF;
}
content section main article h3 {
	padding: 0 0 20px;

	font-size: 25px;
	font-weight: 600;
	text-transform: uppercase;
	color: #5BCBF5;
}
content section main article h4 {
	padding: 0 0 20px;

	font-size: 109px;
	font-weight: 700;
	text-transform: uppercase;
	color: #0078BF;
}
content section main .clsCol+.clsCol+.clsCol article h4+h4 {
	font-size: 26px;
	text-transform: inherit;
}
content section main article label {
	position: relative;
	width: 100%;
	min-height: 40px;
	display: inline-block;
	vertical-align: middle;

	font-size: calc(2px + (14 - 2) * ((100vw - 300px) / (1920 - 300)));
	font-weight: 700;
}
content section main article i {
	cursor: pointer;
	margin: 0 0 0 5px;
	float: right;
}
content section main article input,
content section main article select {
	border: 2px solid #0078BF;
	width: 100%;
	min-height: 36px;
	padding: 6px 10px;
	margin-bottom: 10px;

	font-size: 14px;
	font-weight: 700;
	color: #0078BF;
}
content section main article input {
	font-weight: 300;
}
content section main article select option {
	color: #666666;
}
content section main article .bxButton button {
	background: rgba(0,121,191,1);
	border: none;
	width: 100%;
	max-width: 170px;
	padding: 2.5px 10px;
	margin: 0 auto;
	display: block;

	font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1920 - 300)));
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}
content section main article .addOption {
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 10px 0 15px;

	font-size: 14px;
	font-weight: 700;
	color: #0078BF;
}
content section main article .addOption:hover {
	text-decoration: underline;
}
content section main article .btAddOption {
	background: #34baf4;
	border: none;
	width: 100%;
	cursor: pointer;
	padding: 9px 0;
	margin-top: 10px;

	font-size: 14px;
	font-weight: 700;
	color: #fff;
}
.min {
	position: absolute;
    right: 5px;
    bottom: -28px;
    display: none;

    font-size: 14px;
    font-weight: 700;
    color: #0078BF;
}
.inputValor {
	text-align: right;
}
.valor {
	position: absolute;
    left: 5px;
    bottom: -28px;
    display: none;

    font-size: 14px;
    font-weight: 700;
    color: #0078BF;
}
content section main .clsCol+.clsCol article input,
content section main .clsCol+.clsCol article select {
	margin-bottom: 30px;
}
content section main .clsCol+.clsCol article .bxOverflow {
	height: 605px;
	margin-bottom: 0;
}
content section main .clsCol+.clsCol article img {
	margin-top: 20px;
}
content section main .clsCol+.clsCol+.clsCol article h1 {
	opacity: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
content section main .clsCol+.clsCol+.clsCol article h5,
content section main .clsCol+.clsCol+.clsCol article h5 a {
	font-size: 16px;
	font-weight: 600;
	color: #000;
	line-height: 19px;
}
content section main .clsCol+.clsCol+.clsCol article h5 a {
	text-decoration: none;
	color: #0078BF;
}
content section main .clsCol+.clsCol+.clsCol article h5 a:hover {
	text-decoration: underline;
}
content section main .bxNav {
	width: 100%;

	text-align: center;
}
content section main .bxNav button {
	background: rgba(255,255,255,.3);
	border: none;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0 5px 150px;
	display: inline-block;
	vertical-align: middle;
}
content section main .bxNav button.active {
	background: rgba(0,120,191,1);
}
/* End | content */



/* ===== */



/* Responsive */
/* Size - 544px */
@media screen and (max-width: 544px) {}
/* End | Size - 544px */


/* Size - 767px */
@media screen and (max-width: 767px) {
	content section main .clsCol+.clsCol article .bxOverflow {
		height: auto;
	}
	content section main article {
		min-height: auto;
		margin-bottom: 30px;
	}
	content section main article label {
		min-height: 20px;
		font-size: 14px;
	}
	content section main .bxNav button {
		background: rgba(0,120,191,.3);
		margin-bottom: 30px;
	}
}
/* End | Size - 767px */


/* Size - 992px */
@media screen and (max-width: 991px) {
	content section main .clsCol+.clsCol+.clsCol {
		width: 100%;
	}
	content section main .clsCol+.clsCol+.clsCol article h4 {
		font-size: calc(40px + (86 - 40) * ((100vw - 300px) / (1920 - 300)));
	}
}
@media screen and (min-width: 992px) {
	content section main .clsCol+.clsCol+.clsCol article h4 {
		font-size: calc(10px + (109 - 50) * ((100vw - 300px) / (1920 - 300)));
	}
}
/* End | Size - 992px */


/* Size - 1200px */
@media screen and (max-width: 1200px) {
	content section main article label {
		min-height: auto !important;
	}
	.min,
	.valor {
		display: block;
	}
	content section main article .bxButton button {
		margin: 0 auto 15px;
	}
}
/* End | Size - 1200px */


/* Random size's */
@media screen and (max-width: 1300px) {
	content section main article {
		padding: 35px 7px;
	}
}
@media screen and (max-width: 1300px) and (min-width: 768px) {
	content section main article label {
		min-height: 39px;
		font-size: calc(9px + (14 - 9) * ((100vw - 300px) / (1920 - 300)));
	}
}
@media screen and (min-width: 1201px) {
	content header p {
		padding: 0 38px;
	}
}
@media screen and (min-width: 1301px) {
	content section main .clsCol {
		padding: 0 38px;
	}
}
@media screen and (min-width: 1401px) {}
@media screen and (max-width: 1401px) and (min-width: 1301px) {
	content section main article {
		padding: 25px 15px;
	}
}
@media screen and (min-width: 1571px) {
	.min,
	.valor {
		display: block;
	}
	.inputMin {
		padding: 6px 40px 6px 10px;
	}
	.inputValor {
		padding: 6px 10px 6px 40px;
	}
}
/* End | Responsive */



/* ===== */



/* Julio */
*{
	outline: none;
}
#SystemExample{
	display: none;
}
[disabled]{
	background-color: #fff;
}
.advancedOptions{
	display: none;
}
.bx:hover .deleteSystem{
	opacity: 1;
	transform: scale(1);
}
.deleteSystem{
	background-color: transparent;
	border: none;
	color: red;
	font-size: 12px;
	float: right;
	opacity: 0;
	transform: scale(0.9);
	transition: opacity 300ms, transform 300ms;
}
.step.disabled {
	pointer-events: none;
}
.step.disabled > *{
	opacity: 0.2;
	pointer-events: none;
}
content section main .clsCol+.clsCol article#step3 .bxOverflow {
	height: 570px;
}
#highROIT{
	opacity: 0;
	transition: opacity 200ms 300ms;
}
#highROIT.visible{
	opacity: 1;
}
/*luc*/
.tooltip{
	pointer-events: none;
}
/* End | Julio */