<div id='bx${number}' class='bx'>
	<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
		<h2 id='headerTitle${number}'>
		</h2>
		<div class='clearBoth'>
		</div>
		<label for='evaporatorType${number}'> Evaporator Type <i data-toggle='tooltip' data-placement='left' title='Lorem ipsum dollor sit amet'>
			<svg class='svgAlert' version='1.1' id='Camada_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 21.8 21.9' style='enable-background:new 0 0 21.8 21.9;' xml:space='preserve'>
				<g id='XMLID_2_'>
					<g id='XMLID_4_'>
						<path id='XMLID_5_' class='st0' d='M9.4,6c0-0.8,0.6-1.4,1.6-1.4s1.6,0.6,1.6,1.3c0,0.8-0.6,1.4-1.6,1.4S9.4,6.8,9.4,6z M9.7,8.6 h2.5v8.6H9.7V8.6z'/>
					</g>
					<circle id='XMLID_3_' class='st1' cx='10.9' cy='10.9' r='9.8'/>
				</g>
			</svg>
		</i>
	</label>
	<div class='clearBoth'>
	</div>
	<select id='evaporatorType${number}'>
		<option value='0'>Low Profile (LOP)</option>
		<option value='1'>Medium Profile (MP)</option>
		<option value='2'>Center Mount (CM/LVCM)</option>
		<option value='3'>Large Unit Cooler (LUC)</option>
	</select>
</div>
<div class='col-lg-6 col-md-12 col-sm-12 col-xs-12'>
	<label for='fansPerEvaporator${number}'> # Fans per evaporator </label>
	<div class='clearBoth'>
	</div>
	<select id='fansPerEvaporator${number}'>
		<option>1</option>
	</select>
</div>
<div class='col-lg-6 col-md-12 col-sm-12 col-xs-12'>
	<label for='numberOfEvaporators${number}'> # Evaporators <i data-toggle='tooltip' data-placement='left' title='Lorem ipsum dollor sit amet'>
		<svg class='svgAlert' version='1.1' id='Camada_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 21.8 21.9' style='enable-background:new 0 0 21.8 21.9;' xml:space='preserve'>
			<g id='XMLID_2_'>
				<g id='XMLID_4_'>
					<path id='XMLID_5_' class='st0' d='M9.4,6c0-0.8,0.6-1.4,1.6-1.4s1.6,0.6,1.6,1.3c0,0.8-0.6,1.4-1.6,1.4S9.4,6.8,9.4,6z M9.7,8.6 h2.5v8.6H9.7V8.6z'/>
				</g>
				<circle id='XMLID_3_' class='st1' cx='10.9' cy='10.9' r='9.8'/>
			</g>
		</svg>
	</i>
</label>
<div class='clearBoth'>
</div>
<input type='text' id='numberOfEvaporators${number}' value='1'/>
</div>
<div class='clearBoth'>
</div>
<div class='col-xs-12'>
	<button type='button' class='addOption' id='buttonAdvancedOptions${number}'>+Advanced Options</button>
</div>
<div class='clearBoth'>
</div>
<div id='advancedOptions${number}' class='advancedOptions'>
	<div class='col-lg-4 col-md-12 col-sm-12 col-xs-12'>
		<label for='coldRooms${number}'>#Cold Rooms</label>
		<input type='text' id='coldRooms${number}' value='1' />
	</div>
	<div class='col-lg-4 col-md-12 col-sm-12 col-xs-12'>
		<label for='defrostDuration${number}'>
			<div class='min'>min.</div>Defrost Duration
		</label>
		<input type='text' id='defrostDuration${number}' class='tempo' value='30'/>
	</div>
	<div class='col-lg-4 col-md-12 col-sm-12 col-xs-12'>
		<label for='defrostsDay${number}'>Defrosts/day</label>
		<input type='text' id='defrostsDay${number}' value='4'/>
	</div>
	<div class='clearBoth'>
</div>
<div class='col-lg-4 col-md-12 col-sm-12 col-xs-12'>
	<label for='evaporatorModel${number}'>Evaporator Model</label>
	<select id='evaporatorModel${number}'>
		<option>LT1200</option>
		<option>LT1200</option>
		<option>LT1200</option>
		<option>LT1200</option>
	</select>
</div>
<div class='col-lg-4 col-md-12 col-sm-12 col-xs-12'>
	<label for='intelliGenPriceAdder${number}'>
		<div class='valor'>US$</div>IntelliGen Price Adder <i data-toggle='tooltip' data-placement='left' title='List price. Contact your supplier to get your net price'>
			<svg class='svgAlert' version='1.1' id='Camada_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 21.8 21.9' style='enable-background:new 0 0 21.8 21.9;' xml:space='preserve'>
				<g id='XMLID_2_'>
					<g id='XMLID_4_'>
						<path id='XMLID_5_' class='st0' d='M9.4,6c0-0.8,0.6-1.4,1.6-1.4s1.6,0.6,1.6,1.3c0,0.8-0.6,1.4-1.6,1.4S9.4,6.8,9.4,6z M9.7,8.6 h2.5v8.6H9.7V8.6z'/>
					</g>
					<circle id='XMLID_3_' class='st1' cx='10.9' cy='10.9' r='9.8'/>
				</g>
			</svg>
		</i>
	</label>
	<input type='text' id='intelliGenPriceAdder${number}' class='inputValor' value='637.00' />
</div>
<div class='col-lg-4 col-md-12 col-sm-12 col-xs-12'>
	<label for='mechCompPriceAdder${number}'>
		<div class='valor'>US$</div>Mech. Comp. Price Adder <i data-toggle='tooltip' data-placement='left' title='ist price. Mounted mechanical components supplied by Heatcraft. Contact your supplier to get your net price'>
			<svg class='svgAlert' version='1.1' id='Camada_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 21.8 21.9' style='enable-background:new 0 0 21.8 21.9;' xml:space='preserve'>
				<g id='XMLID_2_'>
					<g id='XMLID_4_'>
						<path id='XMLID_5_' class='st0' d='M9.4,6c0-0.8,0.6-1.4,1.6-1.4s1.6,0.6,1.6,1.3c0,0.8-0.6,1.4-1.6,1.4S9.4,6.8,9.4,6z M9.7,8.6 h2.5v8.6H9.7V8.6z'/>
					</g>
					<circle id='XMLID_3_' class='st1' cx='10.9' cy='10.9' r='9.8'/>
				</g>
			</svg>
		</i>
	</label>
	<input type='text' id='mechCompPriceAdder${number}' class='inputValor' value='526.00' />
</div>
<div class='col-lg-6 col-md-12 col-sm-12 col-xs-12'>
	<label for='priceDiference${number}'>
		intellGen Upcharge
	</label>
</div>
<div class='col-lg-6 col-md-12 col-sm-12 col-xs-12'>
	<input type='text' id='priceDiference${number}' class='inputValor' disabled  value='526.00' />
</div>
<div class='clearBoth'>
</div>
</div>
<div class='clearBoth'>
</div>
<div class='col-xs-12'>
<button type='button' class='deleteSystem' id='deleteSystem${number}'>Delete System</button>
</div>
<div class='clearBoth'>
</div>
</div>
<div class='clearBoth'>
</div>